@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="demo-header">
    <h2>Autocomplete</h2>
</div>
<div id="demo-config">
    <div id="demo-frame-wrapper">
        <div id="theme-switcher"></div>
        @RenderBody()
    </div>
    <div id="demo-config-menu">
        <div class="demos-nav">
            <h4>
                Examples</h4>
            <ul>
                <li>@Html.ActionLink("Default functionality", "Default", "Autocomplete")</li>
                <li>@Html.ActionLink("Remote datasource", "RemoteDatasource", "Autocomplete")</li>
                <li>@Html.ActionLink("Remote with caching", "RemoteWithCaching", "Autocomplete")</li>
                <li>@Html.ActionLink("Remote JSONP datasource", "RemoteJSONPDatasource", "Autocomplete")</li>
                <li>@Html.ActionLink("Scrollable results", "ScrollableResults", "Autocomplete")</li>
                <li>@Html.ActionLink("Combobox", "Combobox", "Autocomplete")</li>
                <li>@Html.ActionLink("Custom data and display", "CustomDataAndDisplay", "Autocomplete")</li>
                <li>@Html.ActionLink("XML data parsed once", "XMLDataParsedOnce", "Autocomplete")</li>
                <li>@Html.ActionLink("Categories", "Categories", "Autocomplete")</li>
                <li>@Html.ActionLink("Accent folding", "AccentFolding", "Autocomplete")</li>
                <li>@Html.ActionLink("Multiple values", "MultipleValues", "Autocomplete")</li>
                <li>@Html.ActionLink("Multiple, remote", "MultipleRemote", "Autocomplete")</li>
            </ul>
        </div>
    </div>
</div>